# Python build artifacts
__pycache__/
*.pyc
*.pyo

# PyInstaller
build/
dist/**
!dist/*.exe

# C build artifacts
build_c/
dist_c/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
!CMakeLists.txt

# IDE / editor
.vs/
*.user
*.suo
.vscode/
*.orig

# Temp / logs
*.log
*.tmp
